* {
    font-family: 'Special Elite', cursive;
    background-color: black;
  
}

header{
    padding: 20px;
     background-image: url(movieposter.jpg);
     width: 90%;
     padding-bottom: 30px;
     padding-right: 0;
     margin-bottom: 5%;
     padding-left: -20%;
 }

 h1{
    text-align: center;
    animation-duration: 1.5s;
    animation-name: slidein; 
    border-radius:10px;
    margin-top: 0%;
    background-color: white;
   
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
   
    to {
      margin-left: 0%;
      width: 100%;
    }
}

form{
    padding-left: 30%;
    font-size: medium;
    padding-top: 20px;
}

input{
    width: 50%;
    border-radius: 25px;
    background-color: white;
    opacity: 0.8;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-size: large;
}

#search-form button{
    border-radius: 25px;
    border-width: 4px;
    border-color: white;
    color: white;
    font-size: medium;
     
}

img{
    width: 70%;
    float: left;
    padding: 20px;
}

.each-movie{
    text-align: center;
    padding: 10px;
    width: 10rem;
    height: 20rem;
    margin: 10px;
    border: solid white ;
    border-width: 5px;
    border-radius: 20px;
    margin-left: 30px;
   
}

.title{
    font-size: large;
    color: white;
    border-color: black;
    background-color: black;

}

#search-results{

    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
 }

 #popular-movies , #upcoming-movies {
    display: flex;
    justify-content: center;
    padding-bottom: 1px;
    color: white;

}

#genre-results{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.load-movies{
    padding-top: 5%;
}

#modal{
    margin-top: 10%;
    position:fixed;
    top: 10vh;
    left: 25%;
    width:50%;
    z-index:1000;
    display:none;
    border: solid white;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    color: white;
   
}

.detail-img{
    width: 20%;
   
}

#detail-title{
    font-size: x-large;
    margin-bottom: 10px;
    margin-left: 10%;
    text-decoration: underline;
    margin-top: 0%;
    color: white;

}

#overview{
    font-size: medium;
    padding-top: 5%;
    padding-top: 5%;
    color: white;
    text-align: left;
  
}

#close{
    margin-top: 10px;
    margin-left: 90%;
    color: white;
    background: none;
    border: none;
}

#search-text{
    color:white;
    text-align: left;
    font-size: large;
    text-decoration: underline;
}
.each-movie button{
    color: white;
    border-radius: 50%;
    margin-left: 10px;
}

p#form-p{
    font-size:large;
}

#liked-movies {
   color: white; 
   display: flex;
   margin-left: 6%;
}

#liked-movies h2{
    overflow-y: scroll;
    text-align: left;
}